
  

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Objet : <%= Email.find(params[:id]).object %></h2>
    <p class="card-text"><%= Email.find(params[:id]).body %></p>
    <a href="#" class="card-link"><%=link_to"Marquer comme non-lu", root_path, method: :post, remote: true, class:"btn btn-secondary"%></a>
        
    <div id= "form">
    <%= form_tag email_path(action: 'destroy'), method: "delete", remote: true do %>
      <%= submit_tag "Supprimer", class:"btn btn-danger" %> 
      <% end %>
      </div>
    </div>
</div>


